<h1>Tottori OpenData PM2.5 API Server</h1>

<p>API:</p>

<pre>
GET /%Y%m%d.json
</pre>

<pre>
GET /today.json
</pre>

<p>Example:</p>

<% today = Time.now.in_time_zone('Asia/Tokyo').to_date.strftime('%Y%m%d') %>
<ul>
  <li><%= link_to url_for(controller:'records', action:'show', date:today), controller:'records', action:'show', date:today %></li>
  <li><%= link_to url_for(controller:'records', action:'show', date:'todaty'), controller:'records', action:'show', date:'today' %></li>
</ul>
